{% extends "landingpage.html" %}

{% block Hall %}
<div class="container">
    <h3><b>Inbox <i class="fas fa-inbox "></i></b></h3>
  <br>  
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-8">
                <div class="containder bg-light text-dark" style="padding: 25px; border-radius: 25px;">
                    <div class="row">
                        <div class="col-md-1">
                           <h4> <i class="fas fa-user fa-2x"></i></h4>
                        </div>
                        <div class="col-md-11" style="padding-left: 25px;">
                             <div class="form-group">
                                <label for="exampleInputEmail1">Master Offers!</label>
                                <small id="emailHelp" class="form-text text-muted">Some content which was send form this Message </small>
                                 <hr>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-1">
                           <h4> <i class="fas fa-user fa-2x"></i></h4>
                        </div>
                        <div class="col-md-11" style="padding-left: 25px;">
                             <div class="form-group">
                                <label for="exampleInputEmail1">Blaster Offers!</label>
                                <small id="emailHelp" class="form-text text-muted">Some content which was send form this Message </small>
                                 <hr>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-1">
                           <h4> <i class="fas fa-user fa-2x"></i></h4>
                        </div>
                        <div class="col-md-11" style="padding-left: 25px;">
                             <div class="form-group">
                                <label for="exampleInputEmail1">Sachine Offers!</label>
                                <small id="emailHelp" class="form-text text-muted">Some content which was send form this Message </small>
                                 <hr>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-1">
                           <h4> <i class="fas fa-user fa-2x"></i></h4>
                        </div>
                        <div class="col-md-11" style="padding-left: 25px;">
                             <div class="form-group">
                                <label for="exampleInputEmail1"> Offers!</label>
                                <small id="emailHelp" class="form-text text-muted">Some content which was send form this Message </small>
                                 <hr>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-1">
                           <h4> <i class="fas fa-user fa-2x"></i></h4>
                        </div>
                        <div class="col-md-11" style="padding-left: 25px;">
                             <div class="form-group">
                                <label for="exampleInputEmail1">Blaster Offers!</label>
                                <small id="emailHelp" class="form-text text-muted">Some content which was send form this Message </small>
                                 <hr>
                            </div>
                        </div>
                    </div>
                           
                  </div>
                <br><br>
             <hr>
            </div>
            
            <div class="col-md-2">
                
            </div>
            
            
        </div>
    </div>
       
</div>
{% endblock %}