{% extends "landingpage.html" %}

{% block Hall %}
<div class="container">
    <h3><b>Message <i class="fas fa-sms"></i></b></h3>
       <br>   
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-8">
                <form>
                     <div class="form-group">
                         <!--
                                        <label for="exampleInputPassword1">Form</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
-->
                         {{form.form.label_tag}}
                         {{form.form}}
                      </div>
                     <div class="form-group">
                         {{form.to.label_tag}}
                         {{form.to}}
                         <!--
                        <label for="exampleInputPassword1">To</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
-->
                      </div>
                    <div class="form-group">
                        {{form.subject.label_tag}}
                        {{form.subject}}
                        <!--
                        <label for="exampleInputPassword1">Subject</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Your Subject">
                        -->
                      </div>
                      
                    
                     
                     <div class="form-group">
                         {{form.body.label_tag}}
                         {{form.body}}
                         <!--
                          <label for="comment">Body</label>
                          <textarea class="form-control" rows="5" id="comment"></textarea>
                        -->
                    </div> 

                                     
                    
                      
                    <br>
                      <button type="submit" class="btn btn-primary">Send <i class="fas fa-envelope   "></i></button>
                    
                </form>
                <br><br>
             <hr>
            </div>
            
            <div class="col-md-2">
                
            </div>
            
            
        </div>
    </div>
       
</div>
{% endblock %}