
{% extends "landingpage.html" %}

{% block Hall %}
{% load static %}
<div class="container">
   <h3><b>Settings <i class="fas fa-cog"></i></b></h3>
      <h6><b><a href="account">Account Settings</a> | <a href="profilesetting"><u>Profile Settings</u></a></b></h6>    
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                 
            </div>
            <div class="col-md-8">
                    <br><br>
                <div class="container bg-light text-dark" style="  padding: 25px; border-radius: 25px;">
                    <div class="row">
                        
                            <div class="col-md-6">
                                 <div class="form-group">
                                                <label for="exampleInputPassword1">Date</label>
                                                <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
                                              </div>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static 'man.png' %}" style="height: 110; width: 120">
                            </div>
                    </div>
                    <br><br>
                     <div class="row">
                        
                            <div class="col-md-6">
                                 <div class="form-group">
                                                <label for="exampleInputPassword1">Phone No</label>
                                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
                                              </div>
                            </div>
                            <div class="col-md-6">
                                 <div class="form-group">
                                                <label for="exampleInputPassword1">Email</label>
                                                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
                                              </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                             <button type="submit" class="btn btn-primary">Eadit <i class="fas fa-pen-fancy"></i></button>
                        </div>
                    </div>
                </div>
                
              
            </div>
            <div class="col-md-2">
                
            </div>
            
            
        </div>
    </div>
       
</div>
{% endblock %}